* {
	padding: 0;
	margin: 0;
}

#page {
	background: #cccccc;
	width: 1024px;
	margin: 0 auto;
}
header {
	height: 100px;
	width: 100%;
	background-color: green;
}
nav {
	height: 30px;
	width:100%;
	background-color: red;
}
article {
	width: 100%;
	background-color: #cccccc;
}
h2{
	background-color: blue;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
article{
	background-color: #999;
	overflow: hidden;
}

article p {
	padding-top: 20px;
}

img {
	width: 300px;
	float: left;
	padding-right: 20px;
}
